.Expertise {
    width: 83.9198vw;
    margin: 7.838vw 7.703vw 8.784vw 8.378vw;
    background: #FFF;
    color: var(--grey-main, #353539);
    display: flex;
    flex-direction: column;
    position: relative;
}

.ExpertiseContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    margin-top: -12vh;
}

.Lines {
    position: absolute;
    top: 5.5vh;
    img {
        width: 83.514vw;
        height: auto;
    }
}

.ExpertiseHeader {
    font-size: 4.054vw;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.ExpertiseText {
    color: #000;
    font-family: Basis Grotesque Pro;
    font-size: 1.351vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    opacity: 0.9;
    width: 40.135vw;
}

.Evaluation1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.689vw;
    margin-left: 13.5vw;
    margin-top: 12.338vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 12.027vw;
    }
}

.Evaluation2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.689vw;
    margin-top: 1.459vw;
    margin-left: 1vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 9.8vw;
    }
}

.Evaluation3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4.73vw;
    margin-left: 13.5vw;
    gap: 1.689vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 25.203vw;
    }
}

.Evaluation4 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -6.149vw;
    margin-left: 1vw;
    gap: 1.689vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 24.8vw;
    }
}

.EvaluationTextBlock {
    display: flex;
    width: 33.041vw;
    flex-direction: row;
    gap: 2.8812vh;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;

    .EvaluationHeader {
        font-size: 2.162vw;
        font-weight: 700;
    }

    .EvaluationText {
        font-size: 1.216vw;
        color: var(--grey-main, #353539);
        font-weight: 400;
        line-height: 140%;
        opacity: 0.6;
        text-align: right;
    }
}
@media (max-width: 700px) { 
    .Expertise {
        margin: 17.991vw 5.607vw;
    }
    .ExpertiseContainer {
        margin-top: -2vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 400px);
    }
    .ExpertiseHeader {
        font-size: 11.215vw;
        font-style: normal;
        font-weight: 700;
        line-height: 9.346vw;
    }
    .ExpertiseText {
        width: 380px;
        font-size: 18px;
        margin-top: 20px;
    }
    .Lines {
        top: 13vh;
        img {
            width: 11.083vw;
            height: 300vw;
        }
    }
    .Evaluation1 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 68.458vw;
        }
    }
    .Evaluation2 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.935vw;
        }
    }
    .Evaluation3 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.701vw;
        }
    }
    .Evaluation4 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.935vw;
        }
    }
    .EvaluationTextBlock {
        width: 79.439vw;
        gap: 4.673vw;
        .EvaluationHeader {
            font-size: 5.607vw;
            font-weight: 700;
        }
        .EvaluationText {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
@media (max-width: 1200px) and (min-width: 701px) {
    .Expertise {
        width: 95.41vw;
        margin: 7.838vw 1.465vw 8.789vw 3.125vw;
    }
    .ExpertiseContainer {
        margin-top: -6vh;
        grid-template-columns: 57% 43%;
    }
    .Lines{
        top: 0;
        img {
            width: 95.40vw;
            height: auto;
        }
    }
    .Evaluation1 {
        gap: 2.344vw;
        img {
            width: 37.305vw;
            height: auto;
            object-fit: contain;
        }
    }
    
    .Evaluation2 {
        gap: 2.344vw;
    
        img {
            width: 37.305vw;
            height: auto;
        }
    }
    
    .Evaluation3 {
        gap: 2.344vw;

    
        img {
            width: 37.305vw;
            height: auto;
        }
    }
    
    .Evaluation4 {
        gap: 2.344vw;
    
        img {
            width: 37.305vw;
            height: auto;
        }
    }
    .EvaluationTextBlock {
        width: 37.305vw;
        .EvaluationHeader {
            font-size: 2.344vw;
            font-weight: 700;
        }
    
        .EvaluationText {
            font-size: 1.563vw;
            color: var(--grey-main, #353539);
            font-weight: 400;
            line-height: 140%
        }
    }
}