.Expertise {
    width: 83.9198vw;
    margin: 7.838vw 7.703vw 8.784vw 8.378vw;
    background: #FFF;
    color: var(--grey-main, #353539);
    display: flex;
    flex-direction: column;
    position: relative;
}

.ExpertiseContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    margin-top: -6.6vh;
}

.Lines {
    position: absolute;
    top: 5vh;
    img {
        width: 83.514vw;
        height: auto;
    }
}

.ExpertiseHeader {
    font-size: 4.054vw;
    font-weight: 700;
    line-height: 12.485vh;
    text-transform: uppercase;
}

.Evaluation1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.689vw;
    margin-left: 13.5vw;
    margin-top: 12.338vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 12.027vw;
    }
}

.Evaluation2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.689vw;
    margin-top: 1.459vw;
    margin-left: 1vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 9.8vw;
    }
}

.Evaluation3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4.73vw;
    margin-left: 13.5vw;
    gap: 1.689vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 25.203vw;
    }
}

.Evaluation4 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -6.149vw;
    margin-left: 1vw;
    gap: 1.689vw;

    img {
        width: 33.041vw;
        height: 16.757vw;
    }

    .EvaluationText {
        width: 24.8vw;
    }
}

.EvaluationTextBlock {
    display: flex;
    width: 33.041vw;
    flex-direction: row;
    gap: 2.8812vh;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;

    .EvaluationHeader {
        font-size: 2.162vw;
        font-weight: 700;
    }

    .EvaluationText {
        font-size: 1.216vw;
        color: var(--grey-main, #353539);
        font-weight: 400;
        line-height: 140%;
        opacity: 0.6;
        text-align: right;
    }
}
@media (max-width: 700px) { 
    .Expertise {
        margin: 17.991vw 5.607vw;
    }
    .ExpertiseContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 400px);
    }
    .ExpertiseHeader {
        font-size: 11.215vw;
        font-style: normal;
        font-weight: 700;
        line-height: 9.346vw;
    }
    .Lines {
        top: 6vh;
        img {
            width: 11.083vw;
            height: 300vw;
        }
    }
    .Evaluation1 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 68.458vw;
        }
    }
    .Evaluation2 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.935vw;
        }
    }
    .Evaluation3 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.701vw;
        }
    }
    .Evaluation4 {
        margin-left: 8vw;
        margin-top: 12vh;
        gap: 5.607vw;
        img {
            width: 79.439vw;
            height: 51.869vw;
        }
        .EvaluationText {
            width: 75.935vw;
        }
    }
    .EvaluationTextBlock {
        width: 79.439vw;
        gap: 4.673vw;
        .EvaluationHeader {
            font-size: 5.607vw;
            font-weight: 700;
        }
        .EvaluationText {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
@media (max-width: 1200px) and (min-width: 701px) {
    .Expertise {
        width: 95.41vw;
        margin: 0 1.465vw 8.789vw 3.125vw;
    }
    .ExpertiseContainer {
        grid-template-columns: 55% 45%;
    }
    .Lines{
        img {
            width: 95.40vw;
            height: auto;
        }
    }
    .Evaluation1 {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.344vw;
        margin-left: 13.851vw;
        margin-top: 6vh;
    
        img {
            width: 37.305vw;
            height: auto;
        }
    
        .EvaluationText {
            width: 33.594vw;
        }
    }
    
    .Evaluation2 {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.344vw;
        margin-top: 13.672vw;
        margin-left: 1.014vw;
    
        img {
            width: 37.305vw;
            height: auto;
        }
    
        .EvaluationText {
            width: 36.816vw;
        }
    }
    
    .Evaluation3 {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: -60px;
        margin-left: 13.851vw;
        gap: 2.344vw;

    
        img {
            width: 37.305vw;
            height: auto;
        }
    
        .EvaluationText {
            width: 36.426vw;
        }
    }
    
    .Evaluation4 {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 8vh;
        margin-left: 1.014vw;
        gap: 2.344vw;
    
        img {
            width: 37.305vw;
            height: auto;
        }
    
        .EvaluationText {
            width: 33.398vw;
        }
    }
    .EvaluationTextBlock {
        display: flex;
        width: 33.594vw;
        flex-direction: column;
        gap: 1.953vw;
        align-items: flex-start;
    
        .EvaluationHeader {
            font-size: 2.344vw;
            font-weight: 700;
        }
    
        .EvaluationText {
            font-size: 1.563vw;
            color: var(--grey-main, #353539);
            font-weight: 400;
            line-height: 140%
        }
    }
}