.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.324vw;
    width: 65vw;
    // padding: 2px 2.027vw;
    // margin: 0 6.757vw;
    border-radius: 13px;
    border: 0.01px solid rgb(226 226 226 / 8%);
    background: rgba(248, 248, 248, 0.01);
    backdrop-filter: blur(30px);
    .headerLinks {
        display: flex;
        gap: 1.622vw;

        .link {
            color: #FFF;
            font-family: Basis Grotesque Pro;
            font-size: 0.946vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }
}
.burger {
    display: none;
    z-index: 1000;
}

.headerFixed {
    position: fixed;
    display: grid;
    justify-content: center;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(226, 226, 226, 0.30);
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    transform: translateY(-500px);
    transition: transform 0.4s ease-in-out;
    
    &.visible {
        transform: translateY(0); /* Показываем элемент */
    }

    .headerContent {
        border-radius: 0;
        border: none;
        background: none;
        backdrop-filter: none;

        .link {
            color: #190628;
        }
    }
}
@media (max-width: 700px) {
    .headerContent {
        height: 60px;
        .headerLinks {
            gap: 16px;
            .link {
                font-size: 7.271vw;
                color: white;
            }
        }
    }
    .headerLinks {
        padding: 100px 20px 12px;
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        padding-top:100px;
        height: 100vh;
        top: 0;
        left: 1000px;
        flex-direction: column;
        backdrop-filter: blur(2px);
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.3s;
        background: black;
        overflow-y: scroll;           
        gap: 5.607vw;
        .link {
            font-size: 7.271vw;
        }
    }
    .collapsed {
        box-sizing: border-box;
        padding: 100px 20px 12px;
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
    }
    .collapsed::after {
        content: ' ';
        background-image: url(../../../public/FooterDesktopLogo.svg);
        content: " ";
        width: 50px;
        position: absolute;
        top: 14px;
        background-size: cover;
        height: 32px;
    }
    .burger {
        display: flex;
        width: 20px;
        height: 14px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
    
      .burger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
    
      .burger span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    
      .burger span:nth-child(2) {
        top: 6px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    
      .burger span:nth-child(3) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    
      .burger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: white;
        top: -2px;
        left: 2.6px;
      }
    
      .burger.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
        background: white;
      }
    
      .burger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 12px;
        left: 2.6px;
        background: white;
      }
}
