.checkout {
    background-color: #fff;
    width: 100vw;
    display: grid;
    justify-content: center;
    .container {
        width: 1440px;
        // height: 900px;
        overflow: hidden;
        margin: 200px 0;
        border-radius: 0.811vw;
        border: 1px solid #E2E2E2;
        background: rgba(0, 0, 0, 0.01);
        display: grid;
        align-items: center;
        .test {
            width: 100%;
            height: 100%;
            overflow: hidden;
            perspective: 1000px;
            -webkit-perspective: 1000px;
            .Portfolio {
                display: grid;
                justify-items: center;
                align-items: center;
                margin: 70px 0;
                gap: 40px;
                .PortfolioText {
                    display: grid;
                    justify-items: center;
                    gap: 24px;
                    color: var(--grey-main, #353539);
                    text-align: center;
                    align-items: center;
                
                    h2 {
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                    }
                
                    p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .PortfolioButton {
                    display: grid;
                    padding: 17px 27px;
                    border-radius: 1.757vw;
                    border: 1px solid #b8b8b8;
                    background-color: rgba(255, 255, 255, 0.10);
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    justify-items: center;
                    color: var(--grey-main, #353539);
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    &:hover {
                        background-color: #353539;
                        border: 1px solid #353539;
                        color: #E2E2E2;
                        -webkit-transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
                        }
                }
            }
            .GhPage img {
                width: 100%;
                height: 800px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .checkout {
        .container {
            width: 1320px;
        }
    }
}

@media (max-width: 1480px) { 
    .checkout {
        .container {
            width: 1220px;
        }
    }
}

@media (max-width: 1340px) { 
    .checkout {
        .container {
            width: 1080px;
            // height: 800px;
            margin: 150px 0;
            .test {
                .Portfolio {
                    margin-top: 60px;
                    gap: 35px;
                    .PortfolioText {
                        gap: 22px;
                    
                        h2 {
                            font-size: 46px;
                        }
                    
                        p {
                            font-size: 16px;
                        }
                    }
                    .PortfolioButton {
                        display: grid;
                        padding: 17px 27px;
                        border-radius: 24px;
                        border: 1px solid #b8b8b8;
                        font-size: 16px;
                    }
                }
                .GhPage img {
                    width: 100%;
                    height: 500px;
                
                }
            }
        }
    }
}

@media (max-width: 1180px) {
    .checkout {
        .container {
			width: 980px;
		}
	}
}

@media (max-width: 1080px) { 
    .checkout {
        .container {
            width: 93vw;
            margin: 100px 0;
            .test {
                .Portfolio {
                    margin-top: 50px;
                    gap: 30px;
                    .PortfolioText {
                        gap: 20px;
                        h2 {
                            font-size: 40px;
                        }
                    
                        p {
                            font-size: 16px;
                        }
                    }
                    .PortfolioButton {
                        padding: 17px 27px;
                        border-radius: 24px;
                        border: 1px solid #b8b8b8;
                        font-size: 16px;
                    }
                }
                .GhPage img {
                    width: 93vw;
                    height: 53vw;
                
                }
            }
        }
    }
}

@media (max-width: 700px) { 
    .checkout {
        .container {
            width: 100vw;
            height: auto;
            border: none;
            background: #fff;
            border-radius: none;
            .test {
                .Portfolio {
                    margin: 0px;
                    gap: 30px;
                    .PortfolioText {
                        gap: 20px;
                        h2 {
                            font-size: 38px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                    .PortfolioButton {
                        padding: 16px 20px;
                        border-radius: 120px;
                        font-size: 16px;
                    }
                }
                .GhPage img {
                    width: 100vw;
                    height: 60vw;
                }
            }
        }
    }
}