.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.324vw;
    width: 82.432vw;
    padding: 2px 2.027vw;
    border-radius: 13px;
    backdrop-filter: blur(30px);

    .headerLinks {
        display: flex;
        gap: 1.622vw;
        .link {
            color: #FFF;
            font-family: Basis Grotesque Pro;
            font-size: 0.946vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }
}
.headerStatic{
    position: absolute;
    top: 3.243vw;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
@media (max-width: 700px) {
    .headerContent {
        height: 7.477vw;
        padding: 3.738vw 5.607vw;
        .headerLinks {
            gap: 5.607vw;
            .link {
                font-size: 3.271vw;
            }
        }

        
    }
}