.TopBlock {
    width: 82.972vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    padding: 0 8.514vw 0 8.514vw;
    justify-content: flex-end;
}

.TopBlockHeader {
    width: 100%;
    margin-top: 13.514vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40.135vw 1.351vw 41.014vw;
    grid-template-rows: 7.432vw 1.351vw 7.432vw 1.351vw 7.432vw 1.351vw 7.432vw;
}

.ApproachHeader {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4.054vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    text-transform: uppercase;
    color: #353539;
}

.Evaluation {
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0px 1.689vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.676vw;
    border: 0.068vw solid #E2E2E2;
    background: #FFF;
    align-items: center;

    .EvaluationText {
        display: flex;
        gap: 0.541vw;
        align-items: center;
        color: var(--grey-main, #353539);
        font-size: 1.222vw;
        font-style: normal;
        font-weight: 500;
        padding: 0.946vw 1.081vw;
        border-radius: 0.405vw;
        border: 1px solid #E2E2E2;
        line-height: normal;
        text-decoration: none;
    }
}

.Evaluation1 {

    grid-row: -3/-4;
    grid-column: 3/4;

    border: 1px solid #E2E2E2;
    background: #FFF;
    img {
        width: 2.23vw;
        height: 2.23vw;
    }
    .EvaluationText {

        svg {
            stroke: #000;
        }
    }
}

.Evaluation2 {

    grid-row: -1/-2;
    grid-column: 3/4;

    border: 1px solid #E2E2E2;
    background: #FFF;
    img {
        width: 8.716vw;
        height: 2.23vw;
    }
    .EvaluationText {

        svg {
            stroke: #000;
        }
    }
}

.Evaluation3 {
    grid-row: -5/-6;
    grid-column: 3/4;
    border: 1px solid #E2E2E2;
    background: #FFF;
    img {
        width: 7.838vw;
        height: 2.365vw;
    }

    .EvaluationText {

        svg {
            stroke: #000;
        }
    }
}

.Evaluation4 {
    grid-row: -1/-6;
    grid-column: 1/2;
    border: 1px solid #E2E2E2;
    background: #F6F6F6;
    padding: 2.703vw;
    flex-direction: column;
    align-items: start;
    img {
        width: 4.06vw;
        height: 4.122vw;
    }
    .EvaluationText {
        width: 15.946vw;
    }

    .EvaluationFooterEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.351vw;

        p {
            color: var(--grey-main, #353539);
            font-size: 1.622vw;
            font-weight: 500;
            line-height: normal;
        }
        .FooterBtn {
            display: flex;
            flex-direction: row;
            gap: 0.27vw;
            align-items: center;
            justify-content: center;
        }
        .emailText {
            margin-top: 2.027vw;
            width: 22.432vw;
            color: #000;
            font-size: 0.946vw;
            font-weight: 400;
            line-height: 140%;
            opacity: 0.6;
        }
    }

    .EvaluationFooterEmailLink {
        font-size: 1.351vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
        color: var(--grey-main, #353539);
    }

    .EmailCopy {
        display: flex;
        width: 2.568vw;
        height: 16px;
        padding: 0.27vw;
        justify-content: center;
        align-items: center;
        border-radius: 3.004px;
        background: var(--grey-main, #353539);
        border-width: 0px;
        transition: all 0.3s ease-in-out;
        color: #FFF;
        font-size: 0.676vw;
        font-weight: 500;
    }

    .EmailCopy:active {
        background: #34C88C;

    }
}

.TopBlockText {
    display: flex;
    align-items: center;
    margin-top: 6.041vw;
    flex-direction: row;
    gap: 0.27vw;

    .text:nth-child(1) {
        padding: 0.859vw 1.145vw 0.859vw 0;
    }
    .text:nth-child(1):hover{
        color: #2DAED7;
    }
    .text:nth-child(3):hover{
        color: #34C88C;
    }
    .text:nth-child(5):hover{
        color: #474DD8;
    }
    .text:nth-child(7):hover{
        color: #BF63DF;
    }
    .text {
        padding: 0.859vw 1.145vw;
        font-size: 1.002vw;
        font-weight: 400;
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease-in-out;
    }

    .line {
        width: 2.027vw;
        height: 1px;
        background: rgba(0, 0, 0, 0.15);
    }
}

.TopBlockFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.635vw;
}
@media (max-width: 700px) {
    .TopBlock {
        justify-content: center;
        min-height: 100svh;    
        height: auto;    
        padding: 0 5.607vw;
        width: 88.786vw;
    }
    .TopBlockHeader {
        width: 100%;
        margin-top: 18.514vw;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 14.953vw 1.869vw 14.953vw 1.869vw 14.953vw 1.869vw 14.953vw 1.869vw 14.953vw 1.869vw 14.953vw 1.869vw 14.953vw;
    }
    .ApproachHeader {
        font-size: 12.383vw;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .Evaluation {
        padding: 0 5.841vw;
        border-radius: 2.336vw;
        .EvaluationText {
            font-size: 3.271vw;
            font-weight: 500;
            svg {
                width: 1.869vw;
                height: 1.869vw;
            }
        }
    }

    .Evaluation1 {
        grid-row: -5/-6;
        grid-column: 1/2;
        img {
            width: 5.607vw;
            height: 5.607vw;
        }
    }
    .Evaluation2 {
        grid-row: -3/-4;
        grid-column: 1/2;
        img {
            width: 22.664vw;
            height: 5.607vw;
        }
    }
    .Evaluation3 {
        grid-row: -1/-2;
        grid-column: 1/2;
        img {
            width: 18.692vw;
            height: 5.607vw;
        }
    }
    .Evaluation4 {
        grid-row: -7/-13;
        grid-column: 1/2;
        padding: 5.607vw;
        
        img {
            width: 6.542vw;
            height: 6.542vw;
        }
        .EvaluationFooterEmail {
            gap: 2vw;
            width: 100%;
            p {
                font-size: 5.607vw;
                font-weight: 500;
            }
            .FooterBtn {
                justify-content: space-between;
                width: 100%;
            }
            .EvaluationFooterEmailLink {
                font-size: 4.673vw;
                font-weight: 500;
                
            }
            .emailText {
                margin: 0;
                font-size: 3.271vw;
                width: 100%;
            }
            .EmailCopy {
                font-size: 2.57vw;
                padding: 1.402vw;
                width: 9.813vw;
                height: 4.673vw;
                border-radius: 4px;
                
            }
        }
    }

    .TopBlockFooter {
        flex-direction: column;
    }

    .TopBlockText {
        margin-top: 11.449vw;
        margin-bottom: 7.477vw;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        gap: 0;

        .text {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: normal;
        }

        .text-first {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: normal;
        }

        .line {
            width: 4.673vw;
            height: 0.234vw;
        }
    }
}