.Services {
    padding: 8vw 0;
    justify-items: center;
    background: #FFF;
    display: grid;
    flex-direction: column;
    gap: 2vw;
    z-index: 3;
    position: relative;
}

.Service {
    flex-direction: row;
    display: grid;
    grid-template-areas:
    "Name image"
    "Description image";
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    height: 18vw;
    padding: 1.7vw;
    border-radius: 12px;
    border: 1px solid rgba(226, 226, 226, 0.50);
    background: #FCFCFC;
    justify-content: space-between;
    column-gap: 2.703vw;
}

.Service:nth-child(even) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.703vw;
    grid-template-areas:
    "image Name"
    "image Description";
}

.zoomHover:hover img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.zoomHover img{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.zoomHover {
    grid-area: image;
    height: 100%;
    width: 100%;
}

.imgBigScreen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50% 50%;
}

.imgBigScreen1 {
    background-image: url(../../../public/audit-small.webp);
}
.imgBigScreen2 {
    background-image: url(../../../public/reasearch-small.webp);
}
.imgBigScreen3 {
    background-image: url(../../../public/consulting-small.webp);
}
.imgBigScreen4 {
    background-image: url(../../../public/evaluation-small.webp);
}

.imgFigure {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}



.ServiceTextHeader {
    grid-area: Name;
    display: flex;
    flex-direction: column;
    gap: 1vw;

    h2 {
        color: var(--grey-main, #353539);
        font-size: 2.65vw;
        font-weight: 700;
    }

    p {
        width: 19.324vw;
        font-size: 1.216vw;
        color: var(--grey-main, #353539);
        font-weight: 400;
        line-height: 140%;
    }
}

.ServiceTextFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: Description;
    gap: 3vh;

    h2 {
        color: var(--grey-main, #353539);
        font-size: 4.054vw;
        font-weight: 700;
    }

    p {
        width: 19.324vw;
        font-size: 1.216vw;
        color: var(--grey-main, #353539);
        font-weight: 400;
        line-height: 140%;
    }
}


.Line {
    width: 2.703vw;
    height: 2px;
    border-radius: 999px;
}

.blueLine {
    background: #2DAED7;
}

.greenLine {
    background: #34C88C;
}

.cyanLine {
    background: #474DD8;
}

.purpleLine {
    background: #BF63DF;
}

.ServiceButton {
    display: flex;
    gap: 0.676vw;
    align-items: baseline;
    padding: 1.622vw 2.162vw;
    border-radius: 0.676vw;
    border: 1px solid #000;
    color: #000;
    font-size: 1.216vw;
    font-weight: 500;
    text-decoration: none;
}

.ServiceButton:hover {
    border: 1px solid #BABABA;
}



@media (max-width: 1440px) {
    .Service {
        width: 70vw;
    }
}

@media (max-width: 720px) {
    .Services {
        gap: 10vw;
    }
    .Service {
        background: none;
        border: none;
        width: 86vw;
        display: grid;
        grid-template-areas:
        "Name"
        "image"
        "Description" !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto 1fr auto;
        height: auto;
        padding: 4vw;
        row-gap: 30px !important;
    }

    .Service:nth-child(even) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2.703vw;
        grid-template-areas:
        "Name"
        "image"
        "Description";
        height: auto;
    }

    .zoomHover {
        height: 30vh;
    }

    .ServiceTextHeader {
        grid-gap: 2vh;
        h2 {
            font-size: 10vw;
            font-weight: 700;
        }
        .Line {
            width: 10vw;
            height: 2px;
        }
    }

    .ServiceTextFooter {
        flex-direction: column;
        align-items: flex-start;
        gap: 5.607vw;
        p {
            width: 70%;
            font-size: 4.5vw;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
        .ServiceButton {
            padding: 20px 0px;
            border: none;
            font-size: 4.5vw;
            gap: 1.869vw;
            svg  {
                width: 2.336vw;
                height: 2.336vw;
            }
        }
    }
}