@import 'fonts';
@import 'variables';

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	outline: none !important;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
}
.rfm-initial-child-container  {
	gap: 50px !important;

}
.rfm-marquee-container {
	gap: 50px !important;
}
.rfm-marquee {
	gap: 50px !important;
}
body,
html,
#root,
#__next {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: 'Basis Grotesque Pro', sans-serif;
	color: $colorAccent;
	//letter-spacing: 1px;
	font-size: 14px;
	border: 0;
	line-height: 1;
	position: relative;
}

#root {
	flex-direction: column;
}
.Mainpage{
	height: 100vh;
	width: 100%;
	top: 0;
	overflow-x: hidden;
	position: relative;
	overflow-y: auto;
	perspective: 10px;
    transform-style: preserve-3d;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input {
	&:focus {
		box-shadow: none !important;
	}
}
.videoWrapper {
    position: absolute;
	z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    .bgVideo{
        width: 100%;
        min-height: 100svh;
        object-fit: cover;
    }
}
@media (max-width: 700px) {
	.Mainpage {
		height: 100svh;
		width: 100%;
	}
	.videoWrapper {
    	bottom: auto;
	.bgVideo{
			min-height: 579px;
			height: 579px;

			object-fit: cover;
		}
	}
}
@media (max-height: 500px) and (orientation: landscape) {
	.Mainpage {
		overflow-y: visible;
		overflow-x: visible;
	}
}