.TopBlock {
    top: 0;
    width: 84.223vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    padding: 0 7.264vw 0 8.514vw;
    background: #2D283C;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
}

.TopBlockHeader {
    margin-top: 30.6vh;
    width: 37.162vw;
    color: #FFF;
    font-size: 6.243vw;
    font-weight: 500;
    line-height: 100%;
    z-index: 2;

}

.TopBlockGuide {
    color: #77F8A2;
    position: relative;

    .GuideBgImage {
        position: absolute;
        right: -20px;
        top: 15px;
        width: 1.755vw;
        height: 1.755vw;
    }
}

.TopBlockText {
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top: 26.65vh;
    flex-direction: row;
    margin-left: -1.145vw;
    gap: 0.27vw;
    .text:nth-child(1):hover{
        color: #2DAED7;
    }
    .text:nth-child(3):hover{
        color: #34C88C;
    }
    .text:nth-child(5):hover{
        color: #474DD8;
    }
    .text:nth-child(7):hover{
        color: #BF63DF;
    }
    .text {
        padding: 0.859vw 1.145vw;
        font-size: 1.002vw;
        font-weight: 400;
        text-decoration: none;
        color: #FFF;
        transition: color 0.3s ease-in-out;
    }

    .text-first {
        padding: 0.859vw 1.145vw;
        font-size: 1.002vw;
        font-weight: 400;
        text-decoration: none;
        color: #FFF;
    }

    .line {
        width: 2.027vw;
        height: 1px;
        background: rgba(255, 255, 255, 0.15);
    }
}

.TopBlockButton {
    cursor: pointer;
    text-decoration: none;
    margin-top: 20.92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.066vw 2.754vw;
    height: 1.081vw;
    border-radius: 0.861vw;
    border: 0.086vw solid rgba(218, 201, 253, 0.15);
    background: rgba(176, 151, 229, 0.20);
    backdrop-filter: blur(25px);
    color: #FFF;
    font-size: 1.549vw;
    gap: 0.861vw;
    z-index: 1;
    font-weight: 500;
}

.TopBlockButton:hover {
    cursor: pointer;
    text-decoration: none;
    margin-top: 20.92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.066vw 2.754vw;
    height: 1.081vw;
    border-radius: 0.861vw;
    border: 0.086vw solid rgba(218, 201, 253, 0.50);
    background: rgba(176, 151, 229, 0.15);
    backdrop-filter: blur(50px);
    color: #FFF;
    font-size: 1.549vw;
    gap: 0.861vw;
    font-weight: 500;
}


.TopBlockFooter {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.635vw;
}

@media (max-width: 700px) {
    .TopBlock {
        justify-content: end;
        min-height: 100svh;        
        padding: 0 5.607vw;
        width: 88.786vw;
        background: #2D283C;
        transform: translateZ(-30px) scale(4);
    }
    .LinearGradient{
        position: absolute;
        left: 0;
        right: 0;
        top: 394px;
        width: 100vw;
        height: 186px;
        background: linear-gradient(180deg, rgba(45, 40, 60, 0.00) 0%, #2D283C 95.8%);
    }

    .TopBlockHeader {
        width: 84.112vw;
        font-size: 13.795vw;
        font-weight: 500;
        line-height: 100%;
    }

    .TopBlockGuide {
        .GuideBgImage {
            position: absolute;
            right: -20px;
            top: 15px;
            width: 4.206vw;
            height: 4.206vw;
        }
    }

    .TopBlockFooter {
        flex-direction: column-reverse;
    }

    .TopBlockButton {
        margin-top: 7.477vw;
        padding: 5.607vw 7.477vw;
        border-radius: 2.976vw;
        width: 26.402vw;
        height: 3.037vw;
        font-size: 4.206vw;
        font-weight: 500;
        gap: 1.869vw;

        svg {
            width: 2.804vw;
            height: 2.804vw;
        }
    }

    .TopBlockText {
        margin-top: 11.449vw;
        margin-bottom: 7.477vw;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        gap: 0;
        
        .text {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: normal;
        }

        .text-first {
            font-size: 3.271vw;
            font-weight: 400;
            line-height: normal;
        }

        .line {
            width: 4.673vw;
            height: 0.234vw;
        }
    }
}
@media (max-width: 1200px) and (min-width: 701px) {
    .TopBlock {
        justify-content: end;
    } 
    .TopBlockHeader {
        font-size: 7.813vw;
        width: 46.875vw;
    }
    .TopBlockButton {
        padding: 2.344vw 3.125vw;
        border-radius: 1.244vw;

        font-size: 1.758vw;
        font-weight: 500;
        gap: 1.172vw;

        svg {
            width: 1.172vw;
            height: 1.172vw;
        }
    }
    .TopBlockText {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        gap: 0;

        .text {
            font-size: 1.448vw;
            font-weight: 400;
            line-height: normal;
        }

        .text-first {
            font-size: 1.448vw;
            font-weight: 400;
            line-height: normal;
        }

        .line {
            width: 2.93vw;
            height: 0.098vw;
        }
    }
    .TopBlockGuide {
        .GuideBgImage {
            position: absolute;
            width: 2.536vw;
            height: 2.536vw;
        }
    }
}